# {{ ansible_managed }}

# Overrides values from the fail2ban.conf configuration file.
#
# For comments relating to each setting see fail2ban.conf

[Definition]

loglevel = {{ fail2ban_loglevel }}
logtarget = {{ fail2ban_logtarget }}

{% if fail2ban_logtarget == "SYSLOG" %}
syslog-target = {{ fail2ban_syslog_target }}
syslog-facility = {{ fail2ban_syslog_facility }}
{% endif %}

socket = {{ fail2ban_socket }}

pidfile = {{ fail2ban_pidfile }}

dbpurgeage = {{ fail2ban_dbpurgeage }}
